@import 'lib/grid.css';
@import 'lib/normalize.css';

@import "components/header.css";
@import "components/footer.css";
@import "components/logo.css";
@import "components/heading.css";
@import "components/heading-sub.css";
@import "components/form.css";
@import "components/picture.css";

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 115px;
  padding-right: 131px;
}

html {
  height: 100%;
  background: none;
  overflow: auto;
  width: 100%;
}

body {
  position: relative;
  color: #242526;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #fff;
}

main {
  margin-top: auto;
  margin-bottom: auto;
  min-width: 100%;
  z-index: 1;
}

@media screen and (max-width: 1200px) {

  .content {
    padding-left: 57px;
    padding-right: 35px;
  }

}

@media screen and (max-width: 767px) {
  html {
    overflow: auto;
  }

  body {
    overflow: auto;
    min-height: 150vh;
  }
  .itmeo {
    display: none !important;
  }
  .itmeo_picture {
    display: block !important;
  }
}

@media screen and (min-width: 1600px) {
  .heading {
    font-size: 44px;
    line-height: 48px;
  }
  .heading-sub {
    font-size: 18px;
    line-height: 25px;
  }
}

.itmeo {
  display: block;
  margin-bottom: 30px;
}

.itmeo_picture {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/* ANIMATION TIMELINE */

.header {
  transition: opacity .6s ease, transform .6s ease;
}

.itmeo {
  transition: opacity .5s ease, transform .5s ease;
  transition-delay: .2s;
}

.heading {
  transition: opacity .5s ease, transform .5s ease;
  transition-delay: .4s;
}

.heading-sub {
  transition: opacity .6s ease, transform .6s ease;
  transition-delay: .7s;
}

.picture {
  transition: transform .5s ease, opacity .5s ease;
  transition-delay: .2s;
}

.form {
  transition: opacity .6s ease, transform .6s ease;
  transition-delay: 1.1s;
}

.footer__links a {

  transition: opacity .6s ease calc(.4s + (30ms * var(--link-index))), transform .6s ease calc(.4s + (30ms * var(--link-index))), border-bottom .4s ease;
}

/* ANIMATIONS */

.heading_active {
  opacity: 0;
  transform: translateY(20px);
}

.header_active {
  opacity: 0;
  transform: translateY(-40px);
}

.heading_active {
  opacity: 0;
}
.heading-sub_active {
  opacity: 0;
  transform: translateY(40px);
}

.form_active {
  opacity: 0;
  transform: translateY(40px);
}

.itmeo_active {
  opacity: 0;
  transform: translateY(20px);
}

.picture_active {
  transform: scale(1.2);
  opacity: 0;
}

.footer__links_active a {
  opacity: 0;
  transform: translateY(-20px);
}

.form__submit_text {
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.form__submit_spinner {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%) translateX(-10px);
  opacity: 0;
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.state-show-spinner .form__submit_spinner {
  transform: translateY(-50%) translateX(0);
  opacity: 1;
}

.state-show-spinner .form__submit_text {
  transform: translateX(10px);
  opacity: 0!important;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.spinner {
  display: block;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999px;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-right: 1px solid rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-left: 1px solid #ffffff;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

/* keyframes */

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 920px) and (max-width: 1200px) {
  .footer__links.footer__links_md {
    display: none;
  }
  .heading-sub {
    margin-bottom: 50px;
  }
  .footer__links {
    justify-content: flex-start;
  }
  .footer__link {
    margin-right: 30px;
  }
  .form form {
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 919px) {
  
  body {
    flex-direction: column-reverse;
  }
  .content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .form form {
    margin-bottom: 66px;
  }
  footer.footer {
    margin-bottom: 116px;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 919px) {
  header.header {
    display: none;
  }
  .content {
    padding-top: 60px;
  }
  .picture {
    max-height: 500px;
  }
  .logo.logo_md {
    display: flex;
  }
  .itmeo_picture {
    display: block;
    left: 40px;
    bottom: 60px;
    transform: none;
  }
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
  .mainscreen .col-lg-12.col-md-12.col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .mainscreen .itmeo,
  footer.footer {
    display: none;
  }
  .mainscreen .footer__links_md {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .footer__link {
    margin-right: 30px;
  }
  .heading-sub {
    margin-bottom: 60px;
  }
  .heading,
  .heading-sub {
    max-width: 400px;
  }
  .form form {
    margin-bottom: 66px;
  }
}

